#about-me {
    position: relative;
    background-image: linear-gradient(to bottom right, rgba(4, 58, 33, 0.75), rgba(5, 69, 92, 0.95)), url('cool-background.png');
    height: 100%;
    width: 100%;
}

.pic {
    top: 50%;
    left: 20%;
    display: inline-flex;
    transform: translate(-12%, -50%);
    position: absolute;
}

.pic img {
    border-radius: 35%;
    width: 30%;
    border: 2px solid #084f2e;
    flex-basis: 30%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.rectangle {
    border-radius: 10%;
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(to bottom right, rgba(3, 46, 26, 0.65), rgba(4, 59, 79, 0.85))
}

.self-intro
{
    padding-left: 37%;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7da493;
    font-weight: bold;
    position: absolute;
}

.self-intro p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 50;
}
