body {
    margin: 0px;
}

.menu-bar button {
    width: 25%;
    border: 1px solid #084f2e; /* Green border */
    color: #a3c5b7; /* White text */
    font-size: 1.15vw;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    background-color:rgba(4, 58, 33);
    opacity: 65%;
}

.menu-bar {
    width: 100%;
    position: relative;
    display: inline-block;
}
  
.menu-bar button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Clear floats (clearfix hack) */
.menu-bar:after {
    content: "";
    clear: both;
    display: table;
}

.club-content {
    display: none;
    position: absolute;
    background-color: #084f2e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.club-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.club-content a:hover {
    background-color: #7da493;
}

.menu-bar:hover .club-content {
    display: block;
}

/* Add a background color on hover */
.menu-bar button:hover {
    background-color: rgb(3, 46, 26);
}


/* working on trying to get the same sort of overlay effect for the social contact buttons */
.contact {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.fa {
    border-radius: 20%;
    padding: 5px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 70%;
}

.fa-linkedin {
    background:#084f2e;
    color: white;
}

#about-me {
    position: relative;
    background-image: linear-gradient(to bottom right, rgba(4, 58, 33, 0.75), rgba(5, 69, 92, 0.95)), url('static/cool-background.png');
    height: 100%;
    width: 100%;
}

.pic {
    top: 50%;
    left: 20%;
    display: inline-flex;
    transform: translate(-12%, -50%);
    position: absolute;
}

.pic img {
    border-radius: 35%;
    width: 30%;
    border: 2px solid #084f2e;
    flex-basis: 30%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.rectangle {
    border-radius: 10%;
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(to bottom right, rgba(3, 46, 26, 0.45), rgba(4, 59, 79, 0.65))
}

.self-intro {
    padding-left: 37%;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7da493;
    font-size: 1.27vw;
    font-weight: bold;
    position: absolute;
}

.self-intro p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}