<html>
  <head>
    <title>Sara Patyi</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div id="header">
      <div class="pic">
        <img src="static/mar6-23_04.jpg" />
        <div class="self-intro">
          <h1>Sara Patyi</h1>
          <h3>Georgia State Alumnus with B.S. in Computer Science</h3>
          <p>
            I am a recent graduate from Georgia State University. I earned my
            Bachelor's of Science degree in May 2023. My major was Computer
            Science with a Biology minor. During my college career, I had the
            opportunity to be a part of several clubs. These include PantherDev
            and Programming Club. I also took several classes in which I was
            able to work on and create projects. This website is meant to
            supplement my resume, and also showcase my interests and work that
            are not showcased elsewhere.
            <br />
            <br />
            I am interested in many areas, including biology, healthcare,
            healthcare tech, web development, AI, ML, game development, art, and
            design. I am a dedicated individual; I work hard towards learning as
            much as I can about various topics. My experience has allowed me to
            become very well-rounded, allowing me to fill various roles easily.
            I am hard-working and focused, with great organizational,
            analytical, and leadership skills.
            <br />
            <br />
            Click through the various links at the bottom of this page to see
            more about me and the projects I've worked on.
          </p>
        </div>
      </div>
    </div>
    <!--<h3>Welcome to this page! My name is Sara Patyi.</h3>
    <p>This is a website that supplements my resume.</p>-->
  </body>
</html>
